.products .price {
    float: right;
    vertical-align: middle;
    margin-top: 0.5em;
}

.products .title {
    display: block;
    margin-bottom: 0.3em;
}

.product-modifiers {
    padding: 1.8em;
    margin: 0 -1.8em;
    min-height: 8em;
}

.product-modifiers input {
    border: none;
    background: transparent;
    color: inherit;
    font-size: inherit;
    text-align: center;
    padding: 0;
    border-radius: 0;
}

.product-modifiers input:not([readonly]) {
    border-width: 1px;
    border-style: solid;
}

.product-modifiers input[type="number"] {
    -moz-appearance: textfield;
}

.product-modifiers input[type="number"]::-webkit-outer-spin-button,
.product-modifiers input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.product-modifiers input[type="number"].price {
    width: 5em;
}

.product-modifiers .info {
    display: inline-block;
    margin-top: 0.5em;
}
.product-modifiers .no_combo_link {
    display: inline-block;
    margin-top: 0.1em;
}
.product-modifiers .timetable {
    font-style: italic;
}

.product-modifiers .gift-card {
    display: block;
}

.product-modifiers .gift-card input {
    text-align: left;
    padding: 0 0.5em;
}

.products.list li {
    position: relative;
}


.product_sold_out {
    width: 100%;
    height: 98%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    left: 0;
    top: 1%;
    text-align: center;
}

.product_sold_out > span {
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    color: white;
    font-family: Times New Roman;
    font-style: italic;
    font-weight: bold;
    font-size: 2em;
}
