<script type="text/template" id="upfront_pickup-template">
    <div class="pickup label"><%= pickupTimeLabel %></div>
    <div>
        <div class="select-wrapper item">
            <input type="text" id="datepicker" readonly="readonly" data-day="0" class="pikaday input ios-safari-caret">
        </div>
        <div class="select-wrapper item">
            <select class="time"></select>
        </div>
    </div>
</script>

<script type="text/template" id="upfront_order_type-template">
    <div class="label"><%= _lp.CHECKOUT_ORDER_TYPE %></div>
    <div class="select-wrapper item">
        <select class="order-type-select"></select>
    </div>
</script>

<script type="text/template" id="upfront_page-template">
<!--   <h2 class="category-title primary-border category-bg order-details-title"><%= 'Your food is a couple of clicks away.' %></h2> -->
    <div class="upfront-content">
    <h2 class="upfront-title"><%= _lp.UPFRONT_TITLE %></h2>
    <div class="order-details">
<!--        <div class="order-notes clear">
            <div class="label optional-text"><%= _lp.CHECKOUT_ORDER_NOTES %></div>
            <textarea class="notes textarea ios-safari-caret"></textarea>
        </div>-->
    </div>
    <div>
</script>

<script type="text/template" id="upfront_actions-template">
    <span class="start-order"><%= _lp.UPFRONT_START_ORDER %></span>
    <span class="just-browsing"><%= _lp.UPFRONT_JUST_BROWSING %></span>
</script>